/*CSS - blog.html*/

/*CSS - HEADER*/
.cont-title-blog {
    display: flex;
    align-items: center;
    background-color: #F8692D;
}

.logo-blog {
    border: 0.3rem solid black;
}

.title-blog {
    margin: auto;
    font-style: italic;
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
}

.link-home {
    width: 20%;
    text-align: center;
    font-size: 2rem;
    color: black;
}

.art-blog {
    width: 80%;
    margin: 3rem auto;
    background-color: #F8692D;
    padding: 1rem;
    text-align: justify;
    line-height: 1.5;
    border-radius: 1rem;
    overflow: auto;
    box-shadow: 0 4px 2px 0px #00000063, 0 6px 2px 0 #00000063;
    
}

    
.art-date i {
    margin-right: 0.3rem;
}

.art-date {
    margin-left: 1rem;
    font-size: 1rem;
    font-style: italic;
}

.foto-art {
    max-width: 30%;
    border: 0.4rem solid;
    float: left;
    margin: 0.8rem;
}

.title-art i {
    margin: 0 0.5rem;
}

.title-art {
    text-align: center;
    font-size: 1.6rem;
}

.text-art {
    margin: 1rem;
}

.options {
    list-style: auto;
    margin: 0 1rem;
    list-style-position: inside;
}