/*FUENTES GOOGLE FONTS*/

/*Fuentes generales*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Yuji+Mai&display=swap');


/*Fuentes para descripción viajes*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Khand:wght@300;400;500;600;700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Yuji+Mai&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Khand:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Yuji+Mai&display=swap');*/

/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

/* ---- CSS - RESET ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/


/*CSS - PROPIEDADES GENERALES*/
body {
    background-color: #F6E7C8;
    font-family: "Roboto Slab", serif;
}

.contain {
    max-width: 1800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

/*CSS - HEADER - PROPIEDADES EN COMÚN CON TODAS LAS PÁGINAS */
.logo-title {
    padding: 1rem;
    margin: auto;
    width: 10%;
    text-align: center;
    animation: rodar 1s forwards;
    border-radius: 50%;
}

.logo {
    text-shadow: 2px 2px 5px #00000052;
    border-radius: 50%;
    border: 0.3rem solid #F8692D;
}


@keyframes rodar {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translate(0px) rotate(720deg);     
    }
}

.nav-header {
    margin: 0 auto;
    width: 80%;
}

.cont-title-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont-ul-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item-ul-header {
    list-style: none;

}

.link-li-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(248, 105, 45);
    text-decoration: none;
    opacity: 0.4;
    transition: all 0.5s;
}

.link-li-header:hover {
    opacity: 1;
}

/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

/*CSS - FOOTER - PROPIEDADES GENERALES CON TODAS LAS PÁGINAS*/
.cont-footer {
    background-color: #F8692D;
    padding: 1rem;
    font-size: 0.9rem;
}

.footer-info {
    display: flex;
}

.info-follow {
    width: 50%;
    border-right: 0.2rem solid;

}

.title-follow {
    margin-bottom: 1rem;
}

.info-links {
    width: 50%;
}

.cont-footer h4 {
    text-align: center;
}

.cont-footer li {
    list-style: none;
    text-align: center;
    margin: 0.2rem auto;
}

.cont-footer a {
    text-decoration: none;
    color: black;
}

.cont-footer a:hover {
    text-decoration: underline;
}

.second-links {
    margin-top: 1rem;
}

.cont-author {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.3rem auto;
}

.footer-logo {
    width: 2.5%;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.fa-brands {
    margin-right: 0.3rem;
}

/*---------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

/*Flecha para que el usuario pueda volver al menú desde cualquier parte de la página*/
.back {
    color: black;
    position: fixed;
    top: 400px;
    right: 15px;
    font-size: 2.5rem;
    border-radius: 60%;
    z-index: 9999;
}

.back:hover {
    opacity: 0.8;
}

/*Cada sección tienen un color de fondo diferente:
        - Secciones impares: mantienen el color del body
        - Secciones pares: #F8692D*/
.even {
    background-color: #F8692D;
    border-radius: 0.5rem;
}

/*Para los titulos de cada sección*/
.title-section {
    text-align: center;
    padding: 1rem;
    text-shadow: 1px 1px 0px #08080847;
    margin: 1rem auto;
}



